<div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h3 class="text-center">Hi, welcome to the official DSHelmondGames website.</h3>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6 col-md-offset-3">Hey, I'm duncan aka duncte123 and welcome to my website.<br />
      If you want a quick overview of all the <a href="/videos">videos</a> that I uploded to <a href="https://www.youtube.com/user/DSHelmondGames" hreflang="en" target="_blank">youtube</a>, <a href="/videos">click here</a>.<br />
      My upload schedule is every wednesday.</div>
        </div>
        <hr>
        <div class="row">
          <div class="text-justify col-sm-4"></div>
          <div class="col-sm-4 text-center"><p><strong>DSHelmondGames Stats</strong><br /><em>stats_data</em></p></div>
          <div class="col-sm-4 text-justify"></div>
        </div>
        <hr>